---

# Example sandbox configuration
# for single server community
# installs

- name: Bootstrap instance(s)
  hosts: all
  gather_facts: no
  become: True
  roles:
    - python

- name: Configure instance(s)
  hosts: all
  become: True
  gather_facts: True
  roles:
    - role: swapfile
      SWAPFILE_SIZE: 8GB
    - role: nginx
      nginx_sites:
      - certs
      - cms
      - lms
      - forum
      nginx_default_sites:
      - lms
    - role: edxlocal
    - role: memcache
    - role: mongo
    - role: rabbitmq
      rabbitmq_ip: 127.0.0.1
    - role: edxapp
      celery_worker: True
    - role: edxapp
    - role: demo
    - role: oauth_client_setup
    - role: oraclejdk
    - role: rg_instructor_analytics_log_collector
      when: "{{ EDXAPP_RG_INSTRUCTOR_ANALYTICS_ENABLE | default(False) }}"
    - role: elasticsearch
    - role: forum
    - role: notifier
    - role: certs
    - role: edx_notes_api
      when: EDXAPP_ENABLE_EDXNOTES
    - role: newrelic
      when: COMMON_ENABLE_NEWRELIC
    - role: datadog
      when: COMMON_ENABLE_DATADOG
